.DS_Store
venv/
.idea/
__pycache__/
.vscode/
osmnx-examples/
cache/

# Ignore everything in data/
data/
# ...except specific files in data/utils/
!data/utils/
!data/utils/ev_consumption_matrix.csv
!data/utils/ev_velocity_matrix.csv
!data/utils/filtered_stations.csv

gym/
graph_images/
simulator/
plots/
dummy_file.py
data_cambridge/
results/training/
data_cambridge_full/
data_cambridge_medium/
data_cambridge_small/
other/
benchmarks/results/
data_new/
results/FINAL_RESULTS/
results/best_training/
results/best_training_no_recharge/
results/best_validation/
results/best_validation_no_recharge/