.DS_Store
venv/
.idea/
__pycache__/
.vscode/
osmnx-examples/
cache/
*.log


# Ignore everything in data/
data/
# ...except specific files in data/utils/
!data/utils/
!data/utils/ev_consumption_matrix.csv
!data/utils/ev_velocity_matrix.csv
!data/utils/filtered_stations.csv

# ignore local results
results/
benchmarks/results/
benchmarks/results/rebalance_time.pkl
benchmarks/results/total_failures.pkl
# ...except spersific files
!results/concatenation_results.py
!results/process_results.py
!results/results_webserver.py

gym/
gymnasium_env.egg-info/
graph_images/
# gimnasium_env/simulator/
plots/
dummy_file.py
data_cambridge/
data_cambridge_full/
data_cambridge_medium/
data_cambridge_small/
telegram_test.py
other/
data_new/
benchmarks/results/
benchmarks/results/rebalance_time.pkl
benchmarks/results/total_failures.pkl
results/FINAL_RESULTS/
results/best_training/
results/best_training_no_recharge/
results/best_validation/
results/best_validation_no_recharge/

